* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Basement Grotesque';
    src:
        url(./font/BasementGrotesque-Black_v1.202.woff),
        url(./font/BasementGrotesque-Black_v1.202.woff2);
}

.containerGral {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.5rem;
    margin: 0;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background: #4BBFB2;
    border-radius: 0.5rem;
    border-right: solid #000000 1px;
}

header {
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.imgLogoNav {
    width: 10rem;
    padding: 1rem;
}

.menuHeader {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    position: absolute;
    left: .5px;
    top: 4rem;
    transform: translateX(-200%);
    transition: all 0.5s;
}

.itemLink a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.navHamb {
    color: #ffffff;
    font-size: 2.8rem;
    display: block;
    cursor: pointer;
    margin-right: -8rem;
    padding-top: .5rem;
}

.show {
    transform: translateX(-.5%);
    transition: all 0.5s;
}

/*------------PresentationSection----------------*/
.presentationSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
    padding: 3rem 1.5rem;
}

.presentationImg {
    width: 100%;
}

.txtPrespEduc {
    text-transform: uppercase;
    font-family: 'Basement Grotesque';
    margin-top: 1rem;
    font-size: 1.8rem;
    -webkit-text-stroke: 1px #4BBFB2;
    -webkit-text-fill-color: #00000000;
}

.txtDigital {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
    font-family: 'Basement Grotesque';
    margin-top: 1rem;
    font-size: 1.6rem;
}

.txtPresentation {
    padding: 2rem 1rem 1rem 0;
    font-size: 1.2rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
}

.presentationImgDesktop {
    display: none;
}

/*------------ResumeSection----------------*/
.resumeSection {
    background-color: #FFFFFF;
    color: #000000;
    padding: 2rem 0;
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.resSection {
    padding: 1.5rem 0;
    border-bottom: 1.5px solid #4BBFB2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titResumeSection {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.bx-group,
.bx-user,
.bx-laptop,
.bx-time-five {
    color: #4BBFB2;
    font-size: 6rem;
    padding-top: 1rem;
}

/*------------AboutUsSection----------------*/
.aboutUsSection {
    padding: 1rem 1.5rem 3rem 1.5rem;
}

.aboutUsImg {
    width: 100%;
}

.aboutUsImgDesktop {
    display: none;
}

.titAboutUsSection {
    font-family: 'Basement Grotesque';
    text-transform: uppercase;
    color: #4BBFB2;
    font-size: 1.3rem;
    text-align: right;
    padding: 1rem 0;
}

.titAboutUsSection,
.titAboutUsSection span {
    display: block;
}

.txtAboutUsSection {
    font-family: 'Inconsolata', monospace;
    font-size: 1.15rem;
    font-weight: 300;
}

/*------------ServicesSection----------------*/
.titServiceSection {
    transform: rotate(-90deg);
    text-align: center;
    display: block;
    margin-top: 4rem;
    margin-left: -2.5rem;
    font-size: 25px;
    font-family: 'Basement Grotesque';

}

.encServiceSection {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.imgServiceSection {
    width: 110%;
    position: relative;
    margin-left: -2.5rem;
}

.descriptionsemisection{
    margin-bottom: 2rem;
}

.serviceSection {
    background-color: #4BBFB2;
    padding: 1rem;
}

.description {
    padding: 1rem 2rem;
}

.descriptionInd {
    background-color: #FFFFFF;
    padding: 1.5rem 2rem;
    margin: 2rem;
    height: 100%;
    color: #000000;
    font-family: 'Inconsolata', monospace;
}

.titDescriptionInd {
    font-weight: 900;
    font-size: 1.15rem;
    margin-bottom: .5rem;
}

.descInd {
    font-size: 1.1rem;
    font-family: 'Inconsolata', monospace;
}

/*------------WorkUsSection----------------*/
.workUs {
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.titWorkUs {
    color: #000000;
    font-family: 'Basement Grotesque';
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem 0;
}

.pWorkUs {
    font-size: 1.4rem;
    color: #000000;
    font-family: 'Inconsolata', monospace;
    text-align: left;
}

.imgWorkUs {
    width: 100%;
}

.buttonWorkUs {
    font-size: 1rem;
    align-self: flex-end;
    margin: 2.5rem 0 2rem 0;
    padding: 0.7rem 2.5rem;
    background-color: #4BBFB2;
    border: 1px solid #4BBFB2;
    font-family: 'Basement Grotesque'
}

.buttonWorkUs a {
    text-decoration: none;
    color: #000000;
}


/*------------studentComSection----------------*/
.studentCom {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}

.divTitStudentCom {
    /* background-color: #4BBFB2; */
    padding: 0 0.5rem;
    align-self: flex-end;
    height: 3rem;
    margin-bottom: 2rem;
}

.titStudentCom {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Basement Grotesque';
    background-image: linear-gradient(
		0,
		#4BBFB2 75%,
		transparent 35%
	)
    
}

.nameStudentCom {
    font-size: 1.7rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.starStudentCom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
}

.bxs-star {
    color: #ffff00;
    font-size: 1.5rem;
}

.pStudentCom {
    text-align: justify;
    font-family: 'Inconsolata', monospace;
    padding: 2rem 1rem;
}

/*--------------whatsaap icon --------------*/
.btn-wsp {
    position: fixed;
    width: 4rem;
    height: 4rem;
    line-height: 4.5rem;
    bottom: 25px;
    right: 25px;
    background: #00bb2d;
    color: #FFF;
    border-radius: 100%;
    text-align: center;
    font-size: 2.7rem;
    box-shadow: 0px 1px 10px #0000004d;
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    color: #00bb2d;
    background: #FFF;
}

/*------------ContactUsSection----------------*/
.contactUs {
    background-color: #FFFFFF;
    padding: 1rem;
    color: #000000;
}

.imgContactUs {
    width: 100%;
}

.titContactUsSection {
    padding: 1rem 0;
    font-family: 'Basement Grotesque';
    font-size: 25px;
}

.color {
    color: #4BBFB2;
}

.textContactUsSection {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;

}

form {
    display: flex;
    flex-direction: column;
}

.inputForm {
    border: none;
    border-bottom: 1px solid black;
    padding: 1.5rem 0 .2rem 1rem;
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    font-weight: 300;
}

.message {
    height: 4rem;
}

::placeholder {
    color: #000000;
}

.buttonForm {
    margin-top: 2rem;
    align-self: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem 2.5rem;
    background-color: #4BBFB2;
    border: 0px solid #000000;
    font-family: 'Basement Grotesque';
    cursor: pointer;
}

/*------------Footer----------------*/
footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #000000;
}

.imgLogoFooter {
    width: 100%;
    padding: 2rem 6rem;
}

.copyFooter,
.copyFooter span {
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: .9rem;
    font-weight: 300;
}

.copyFooter {
    border-top: 1px solid white;
    color: #FFFFFF;
}

.navFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.itemLinkFooter {
    list-style-type: none;
}

.itemLinkFooter a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}


/*------------RESPONSIVE----------------*/
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .presentationSection {
        margin-left: 19vh;
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        width: 7vw;
        height: 100vh;
        position: absolute;
        padding: .5rem;
        position: block;
    }

    .imgLogoNav {
        width: 10rem;
        position: absolute;
        left: 1px;
        z-index: 10;
    }

    .navHeader {
        background-color: #000000;
        width: 7vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;

    }

    .menuHeader {
        display: flex;
        flex-direction: column;
        width: 7vw;
        text-align: center;
        background-color: transparent;
        list-style-type: none;
        position: relative;
        transition: none;
        transform: translateX(0);
        margin: 0 auto;
    }

    .itemLink a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        transform: rotate(-90deg);
        font-weight: 500;
        display: block;
    }

    .navHamb {
        display: none;
    }

    

    /*------------PresentationSection----------------*/
    .presentationSection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 5rem 6rem;
        height: 100vh;
    }

    .presentationImg {
        display: none;
    }

    .txtPresentacionSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-left: -28rem;
        z-index: 10;
    }

    .txtPrespEduc {
        font-size: 3.8rem;
        font-weight: 900;
        margin-top: 0;
        letter-spacing: .3rem;
    }

    .txtDigital {
        text-align: left;
        font-size: 3rem;
        font-weight: 900;
        margin-top: .5rem;
        letter-spacing: .3rem;
    }

    .txtPresentation {
        padding: 0;
        margin-top: 2rem;
        width: 49%;
    }

    .presentationImgDesktop {
        display: block;
        width: 50%;
        position: absolute;
        left: 45%;
    }

    /*------------ResumeSection----------------*/
    .resumeSection {
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        margin-left: 7vw;
    }

    .resSection {
        padding: 2rem;
        width: 25%;
        border-bottom: none;
        border-right: 2px solid #4BBFB2;
    }

    .noBorder {
        border: none;
    }

    /*------------AboutUsSection----------------*/
    .aboutUsSection {
        padding: 3rem 6rem;
        margin-left: 7vw;
        margin-bottom: 3rem;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .aboutUsImg {
        display: none;
    }

    .conttxtAboutUsSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-left: -28rem;
        width: 30vw;
        z-index: 10;
    }

    .aboutUsImgDesktop {
        display: block;
        width: 40%;
        position: absolute;
        left: 50%;
    }

    .titAboutUsSection {
        font-size: 3.2rem;
        font-weight: 900;
        padding: 0;
        margin-bottom: 2rem;
    }

    .txtAboutUsSection {
        width: 80%;
        margin-left: 3rem;
    }

    /*------------ServicesSection----------------*/
    .serviceSection {
        display: flex;
        flex-direction: row;
        padding: 1rem 1.5rem;
        margin-left: 7vw;
    }

    .titServiceSection {
        margin-top: -12rem;
        margin-left: -3rem;
        font-size: 2rem;
    }

    .encServiceSection {
        display: flex;
        align-items: center;
        margin-top: 0;
        width: 130vw;
        height: 100vh;
    }

    .imgServiceSection {
        width: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 8rem 5rem;
    }

    .descriptionsemisection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
    }

    .serviceSection {
        padding: 1rem;
    }

    .descriptionInd {
        padding: 1rem 2rem;
        margin: 0 1rem;
        width: 50%;
    }

    .titDescriptionInd {
        font-weight: 800;
        margin-bottom: 0;
    }

    /*------------WorkUsSection----------------*/
    .workUs {
        flex-direction: row;
        padding: 4rem 5rem;
        margin-left: 7vw;
    }

    .contTxtWorkUs {
        width: 70vw;
    }

    .titWorkUs {
        font-size: 2.4rem;
    }

    .pWorkUs {
        font-size: 1.8rem;
    }

    .imgWorkUs {
        width: 50%;
    }

    .buttonWorkUs {
        align-self: flex-end;
        margin: 4rem 0 2rem 0;
        border: 0px solid #000000;
        cursor: pointer;
    }

    /*------------studentComSection----------------*/
    .studentCom {
        padding: 4rem 6rem;
    }
    .pStudentCom{
        padding: 0%;
        text-align: justify;
        hyphens: manual;
    }
    .contStudentCom {
        display: flex;
        flex-direction: row;
    }

    .IndStudentCom {
        width: 20vw;
        padding: 1.2rem;
    }

    /*------------ContactUsSection----------------*/
    .contactUs {
        padding: 4rem 6rem;
        display: flex;
        flex-direction: row;
        margin-left: 7vw;
    }

    .txtContactUsSectionCont {
        display: flex;
        flex-direction: column-reverse;
        width: 50vw;
    }

    .imgContactUs {
        padding: 2rem 2rem 2rem 0;
    }

    .titContactUsSection {
        padding: 0;
        font-size: 2rem;
    }

    .color {
        color: #4BBFB2;
    }

    .formContactUsSection {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10rem;
    }

    .textContactUsSection {
        padding-bottom: 0;
    }

    /*------------Footer----------------*/
    footer {
        padding: 2rem 2rem 0 1rem;
        margin-left: 7vw;
    }

    .footercont {
        display: flex;
        flex-direction: row;
        padding: 2rem 1rem;
    }

    .imgLogoFooter {
        width: 40%;
        padding: 0;
    }

    .navFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        width: 50%;
    }

    .itemLinkFooter {
        list-style-type: none;
    }

    .itemLinkFooter a {
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1rem;
    }
}