*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Basement Grotesque';
    src:
      url('/fonts/grotesque/BasementGrotesque-Black_v1.202.woff2') format('woff2'),
      url('/fonts/grotesque/BasementGrotesque-Black_v1.202.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
.containerGral{
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
}
::-webkit-scrollbar {
    width: 0.5rem;
    margin: 0;
    background-color: #000000;
}
::-webkit-scrollbar-thumb {
    background: #4BBFB2;
    border-radius: 0.5rem;
    border-right: solid #000000 1px;
}
header{
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgLogoNav{
    width: 10rem;
    padding: 1rem;
}
.menuHeader{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    background-color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    position: absolute;
    margin-right: 150%;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: 10;
    margin-top: 2rem;
}
.itemLink a{
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
}
.navHamb{
    color: white;
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    margin-right: -4rem;
}
.show{
    transform: translateX(0);
    transition: all 0.5s;
}
/*------------PresentationSection----------------*/
.presentationSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 1rem 1.5rem;
    height: 100vh;
}
.presentationImg{
    width: 100%;
}
.txtPrespEduc{
    text-transform: uppercase;
    color: #4BBFB2;
    font-family: 'Basement Grotesque';
    margin-top: 1rem;
}
.txtDigital{
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
    font-family: 'Basement Grotesque';
    margin-top: 1rem;
}
.txtPresentation{
    padding: .5rem;
    font-family: 'Inconsolata', monospace ;
    font-weight: 300;
}
.presentationImgDesktop{
    display: none;
}
/*------------ResumeSection----------------*/
.resumeSection{
    background-color: #FFFFFF;
    color: #000000;
    padding: 1rem 2rem 2rem 2rem;
    font-family:'Inconsolata', monospace ;
}
.resSection{
    padding: 1.5rem 1.3rem;
    border-bottom: 1.5px solid #4BBFB2;
}
.titResumeSection{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 0 1rem 0;
}
/*------------AboutUsSection----------------*/
.aboutUsSection{
    padding: 1rem 1.5rem;
}
.aboutUsImg{
    width: 100%;
}
.aboutUsImgDesktop{
    display: none;
}
.titAboutUsSection{
    font-family: 'Basement Grotesque';
    text-transform: uppercase;
    color: #4BBFB2;
    text-align: right;
    padding: 1rem 0;
}
.titAboutUsSection,
.titAboutUsSection span  {
    display: block;
}
.txtAboutUsSection{
    font-family: 'Inconsolata', monospace ;
    font-weight: 300;
}
/*------------WorkWithSection----------------*/
.instWorkWith{
    background-color: #FFFFFF;
    padding: 1rem 4rem;
}
.titInstWorkWith{
    text-transform: uppercase;
    color: #4BBFB2;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Basement Grotesque';
}
.logoInstWorkWith{
    width: 100%;
    padding: .5rem 0;
}
/*------------ServicesSection----------------*/
.titServiceSection {
    transform: rotate(-90deg);
    text-align: center;
    display: block;
    margin-top: 4rem;
    margin-left: -2.5rem;
    font-size: 25px;
    font-family: 'Basement Grotesque';  

}
.encServiceSection{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.imgServiceSection {
    width: 110%;
    position: relative;
    margin-left: -2.5rem;
}
.serviceSection{
    padding: 1rem;
}
.description{
    padding: 1rem 2rem;
}
.descriptionInd{
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    margin: 2rem 0;
    color: #000000;
    font-family: 'Inconsolata', monospace ;
}
.titDescriptionInd{
    font-weight: 800;
    margin-bottom: .5rem;
}
/*------------ContactUsSection----------------*/
.contactUs{
    background-color: #FFFFFF;
    padding: 1rem;
    color: #000000;
}
.imgContactUs{
    width: 100%;
}
.titContactUsSection{
    padding: 1rem 0;
    font-family: 'Basement Grotesque';
    font-size: 25px;
}
.color{
    color: #4BBFB2;
}
.textContactUsSection{
    padding-bottom: 1rem;
    font-family: 'Inconsolata', monospace ;
    font-weight: 400;
    
}
form{
    display: flex;
    flex-direction: column;
}
.inputForm{
    border: none;
    border-bottom: 1px solid black;
    padding: 1.5rem 0 .2rem 0;
    font-family: 'Inconsolata', monospace ;
    font-size: 18px;
    font-weight: 300;
}
::placeholder{
    color: #000000;
}
.buttonForm{
    margin-top: 2rem;
    padding: .3rem;
    width: 20%;
    font-family: 'Inconsolata', monospace ;
}
/*------------Footer----------------*/
footer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.imgLogoFooter{
    width: 100%;
    padding: 2rem 6rem;
}
.copyFooter,
.copyFooter span{
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Inconsolata', monospace ;
    font-size: .9rem;
    font-weight: 300;
}
.copyFooter{
    border-top: 1px solid white;
}
.navFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}
.itemLinkFooter{
    list-style-type: none;
}
.itemLinkFooter a{
    color: #FFFFFF;
    font-size: 1rem;
}


/*------------RESPONSIVE----------------*/
@media screen and (min-width: 1024px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        width: 7vw;
        height: 100vh;
        position: absolute;
        padding: .5rem;
        position: fixed;
    }
    .imgLogoNav{
        width: 6.5rem;
    }
    .navHeader{ 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    .menuHeader{
        display: flex;
        flex-direction: column;
        width: 7vw;
        text-align: center;
        background-color: transparent;     
        list-style-type: none;
        position: relative;
        transition: none;
        transform: translateX(0);
        margin: 0 auto;
    }
    .itemLink a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        transform: rotate(-90deg);
        display: block;
    }
    .navHamb{
        display: none;
    }
    /*------------PresentationSection----------------*/
    .presentationSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 5rem 6rem;
        margin-left: 7vw;
        height: 100vh;
    }
    .presentationImg{
        display: none;
    }
    .txtPresentacionSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .txtPrespEduc{
        font-size: 3rem;
        font-weight: 900;
        margin-top: 0;
    }
    .txtDigital{
        text-align: left;
        font-size: 3rem;
        font-weight: 900;
        margin-top: .5rem;
    }
    .txtPresentation{
        padding: 0;
        margin-top: 2rem;
    }
    .presentationImgDesktop{
        display:block;
        width: 100%;
    }
    /*------------ResumeSection----------------*/
    .resumeSection{
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
        margin-left: 7vw;
    }
    .resSection{
        padding: 2rem;
        border-bottom: none;
        border-right: 2px solid #4BBFB2;
    }
    .noBorder{
        border: none;
    }
    /*------------AboutUsSection----------------*/
    .aboutUsSection{
        padding: 3rem 6rem;
        margin-left: 7vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
    .aboutUsImg{
        display: none;        
    }
    .conttxtAboutUsSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutUsImgDesktop{
        display: block;
        width: 100%;
    }
    .titAboutUsSection{
        font-size: 3rem;
        font-weight: 900;
        padding: 0;
        margin-bottom: 2rem;
    }
    /*------------WorkWithSection----------------*/
    .instWorkWith{
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 7vw;
    }
    .titInstWorkWith{
        font-size: 1.8rem;
        padding: .5rem;
        width: 30%;
    }
    .logoInstWorkWith{
        width: 90%;
        padding: 0 .5rem;
        margin: 0 auto;
    }
    /*------------ServicesSection----------------*/
    .serviceSection{
        display: flex;
        flex-direction: row;
        padding: 1rem 1.5rem;
        margin-left: 7vw;
    }
    .titServiceSection {
        margin-top: -8rem;
        margin-left: -3rem;
        font-size: 2rem;
    }
    .encServiceSection{
        display: flex;
        align-items: center;
        margin-top: 0;
        width: 125vw;
        height: 100vh;
    }
    /* .imgServiceSection{
        width: 130%;
    } */
    .description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 8rem 5rem;
    }
    .descriptionsemisection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
    }
    .serviceSection{
        padding: 1rem;
    }
    .descriptionInd{
        padding: 1rem 2rem;
        margin: 0 1rem;
    }
    .titDescriptionInd{
        font-weight: 800;
        margin-bottom: 0;
    }
    /*------------ContactUsSection----------------*/
    .contactUs{
        padding: 4rem 6rem;
        display: flex;
        flex-direction: row;
        margin-left: 7vw;
    }
    .txtContactUsSectionCont{
        display: flex;
        flex-direction: column-reverse;
        width: 50vw;
    }
    .imgContactUs{
        padding: 2rem 2rem 2rem 0;
    }
    .titContactUsSection{
        padding: 0;
        font-size: 2rem;
    }
    .color{
        color: #4BBFB2;
    }
    .formContactUsSection{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 10rem;
    }
    .textContactUsSection{
        padding-bottom: 0;
    }
    .buttonForm{
        background-color: #4BBFB2;
        border: 1px solid #000000;
        font-family: 'Inconsolata', monospace ;
    }
    /*------------Footer----------------*/
    footer{
        padding: 2rem 2rem 0 1rem;
        margin-left: 7vw;
    }
    .footercont{
        display: flex;
        flex-direction: row;
        padding: 2rem 1rem;
    }
    .imgLogoFooter{
        width: 50%;
        padding: 0;
    }
    .navFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        width: 50%;
    }
    .itemLinkFooter{
        list-style-type: none;
    }
    .itemLinkFooter a{
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1rem;
    }
}